$color:rgb(72, 96, 239);

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: 20px;
  }
}